<div id="footer-content">
  <p><%= _('This site uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/') %></p>
<p>
<%= language_chooser %>
</p>

 <hr></hr>
  <p><a href="//debian.org">Debian</a> is a registered trademark of Software in the Public Interest, Inc. | Ideas, suggestions or development on this site? <a href="https://gitlab.com/DebianCollab/theme-dcc/issues">Create an Issue</a>. </p>
</div>
