<% if File.exists?(File.join(Rails.root, 'public', "/designs/themes/#{environment.theme}/images/debian.png")) %>
  <%= link_to(image_tag("/designs/themes/#{environment.theme}/images/debian.png"), top_url) %>
<% else %>
  <%= link_to(image_tag("/designs/themes/noosfero/images/debian.png"), top_url) %>
<% end %>
