@import url("reset.css");
@import url("base.css");

body {
    font: 100%/1.5 sans-serif;
    color: #222;
    background-color: #FFF;
    background-image: url('images/gradient.png');
    background-position: 0px 0px;
    background-repeat: repeat-x;
}

#site-title {
	position: absolute;
	top: 10px;
	left: 5px;
}

#theme-header {
	background-color: transparent;
	list-style:none;
	display:block;
	border-bottom:1px solid #c70036;
	text-indent:0;
	padding: 0;
	margin-top:0;
	margin-bottom:0;
	margin-left: 65px;
}

#assets-menu ul {
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	min-height: 45px;
}
#assets-menu li {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}
#assets-menu a:link
, #assets-menu a:visited {
	padding: 1.75em 0.5em 0.25em 0.5em;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	display: block;
	text-decoration: none;
}
#assets-menu a:visited {
	color: #54638c;
}
#assets-menu a:hover
, #assets-menu a:visited:hover {
	background-color: #f5f6f7;
	border-left: 1px solid  #d2d3d7;
	border-right: 1px solid #d2d3d7;
	text-decoration: underline;
}

#user {
	margin: 0px;
	font-size: 0.75em;
	text-transform: lowercase;
	line-height: 2;
	background-color: #F5F6F7;
	border-bottom: 1px solid #D2D3D7;
	min-height: 20px;
	padding-left: 65px;
}

#user a {
	padding: 0px 5px;
	margin: 0px 5px;
}

#top-search {
	float: right;
	font-size: 1.3em;
	margin-right: 5px;
	margin-top: -40px;
}

#content {
	margin: auto;
	max-width: 1330px;
}

#theme-footer {
	font-size: 0.75em;
	border: 1px solid #dfdfe0;
	padding:1em;
	background-color: #f5f6f7;
	margin: 0 10px 0 52px;
	line-height: 1.5em;
	border-left: 0;
	border-right: 0;
	clear: both;
}
#theme-footer p {
	margin: 1em 0 1em 0;
}
#theme-footer hr {
	border-top: 1px solid #d2d3d7;
	border-bottom: 1px solid white;
	height: 0;
}
#theme-footer .editbar li {
	display: inline;
	margin-right: 2em;
}

/* Global Values */

.common-profile-list-block span {
	line-height: 1em;
	text-overflow: ellipsis;
}

.control-panel-design-editor { display: none; }
